body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  gap: 5px;
}

img {
  width: 200px;
  height: 200px;
}

.img01 {
  border-radius: 50%;
}

.img02 {
  border-radius: 12px;
}

.img03 {
  border-radius: 24px;
}

.img04 {
  border-radius: 50% 10% 50% 10%;
}

.img04 {
  border-radius: 10% 50% 10% 50%;
}
